test-results.*
yarn.lock

# build
.github/

# IDEs
.vscode/
.idea/
.idea_modules/

## File-based project format:
*.iws


### Node template
*.log


# Dependency directories
node_modules
.npm
.node_repl_history
.DS_Store
